<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Digitrish.PocoFromDB" version="1.0.0.3" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.OData" version="5.9.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.OData.Core" version="6.15.0" targetFramework="net451" />
  <package id="Microsoft.OData.Edm" version="6.15.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="net451" />
  <package id="Nancy" version="1.2.0" targetFramework="net451" />
  <package id="Nancy.Owin" version="1.2.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="T4Scaffolding" version="1.0.8" targetFramework="net451" />
  <package id="T4Scaffolding.Core" version="0.0.1" targetFramework="net451" />
  <package id="T4Scaffolding.Core.VS2015" version="1.0.1" targetFramework="net451" />
  <package id="T4Scaffolding.VS2015" version="1.0.10" targetFramework="net451" />
  <package id="Topshelf" version="3.2.0" targetFramework="net451" />
</packages>